<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

   <select id='selectBoardTypeList' resultMap="boardTypeMap">
      SELECT *
      FROM BOARD_TYPE
      ORDER BY BOARD_CD      
   </select>
   
   <resultMap id='boardTypeMap' type='boardType'>
      <id column="BOARD_CD" property="boardCode" />
      <result column='BOARD_NAME' property="boardName" />
   </resultMap>
   
   <!-- rownum 방식 조회 -->
   <!-- <select id="selectList" resultType="board"> 
      SELECT * 
      FROM (SELECT B.* , ROWNUM RNUM
            FROM (
               SELECT
                    BOARD_NO,
                    BOARD_TITLE,
                    USER_NAME AS BOARD_WRITER,
                    COUNT,
                    CREATE_DATE
                FROM BOARD B
                LEFT JOIN MEMBER M ON BOARD_WRITER = USER_NO
                WHERE B.STATUS = 'Y'
                ORDER BY BOARD_NO ASC
             ) B
            ) C
       WHERE RNUM <![CDATA[ >= ]]> #{startRow} AND RNUM <![CDATA[ <= ]]> #{endRow}
   </select> -->
   
   <!-- rowbounds -->
   <select id="selectList" resultType="board">
	SELECT
		BOARD_NO,
		BOARD_TITLE,
		USER_NAME AS BOARD_WRITER,
		COUNT,
		CREATE_DATE
	FROM BOARD B
	LEFT JOIN MEMBER M ON BOARD_WRITER = USER_NO
	WHERE B.STATUS = 'Y'
	ORDER BY BOARD_NO ASC           
   </select>
   
   <select id="selectListCount" resultType="int">
   		SELECT 
   			COUNT(*)
   		FROM BOARD B
   		LEFT JOIN MEMBER M ON BOARD_WRITER = USER_NO
   		WHERE B.STATUS = 'Y'
   </select>
 
</mapper>
